.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-inout{
  background-color: #000;
  border: 1px solid grey;
  padding:  20px;
}
ul li {
  text-decoration: none;
  list-style: none;
  
}
.custom{
  background-color: rgb(18,19,18) !important;
  color: #fff;

}
.footer{
  background-color: rgb(18,19,18);
}
.icons .icon {
  margin: 5px;
  width: 40px;
  height: 40px;
  background-color:#55E748 ;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  cursor: pointer;
  transition: 1s all;
  font-size: 20px;
}
.icons .icon:hover{
  background-color:#fff ;

}
